.items_slider
  width: 100%
  display: flex
  justify-content: center

.items_slider .wrapper
  @include center-flex()
  overflow: hidden
  justify-content: flex-start
  max-width: rem($baseline * 9)

.items_slider .wrapper_restrict
  width: rem(155px)