.button
  width: rem($subline * 6)
  height: rem($subline * 6)
  border-radius: rem($subline * 8)
  background: $sp-D6-tint-a 
  border: none
  cursor: pointer
  @include center-flex()

.button.button_card 
  background: $sp-G0
  width: rem($subline * 7)
  height: rem($subline * 7)